<footer class="footer">
  <!-- <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS订阅</a> -->
  <!-- {%- comment %} 请保留主题来源，么么哒~ {% endcomment %}
  <span>Theme By</span>
  <a href="https://github.com/TMaize/tmaize-blog">TMaize</a> -->
 {% raw %}<script>
var _hmt = _hmt || [];
(function() {
   var hm = document.createElement("script");
   hm.src = "https://hm.baidu.com/hm.js?{{site.baidu_tmid}}";
   var s = document.getElementsByTagName("script")[0]; 
   s.parentNode.insertBefore(hm, s);
})();
</script>{% endraw %}
</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
